.logo a {
  padding: 0;
  margin: 0;
  text-align: center;
}

.logoImage {
  border-radius: 50%;
}

/* Media Queries */
@media (min-width: 360px) {
  .logo {
    width: 40px;
  }
}

@media (min-width: 640px) {
  .logo {
    display: none;
  }
}

@media (min-width: 768px) {
  .logo {
    display: block;
    width: 80%;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
